{
  "extends": [
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-group"
        ],
        "ignore": [
          "after-comment",
          "all-nested"
        ]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "at-rule-semicolon-newline-after": "always",

    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-closing-brace-space-after": "always-single-line",
    "block-closing-brace-space-before": "always-single-line",
    "block-opening-brace-newline-after": "always-multi-line",
    "block-opening-brace-newline-before": null,
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",

    "indentation": 2,
    "max-empty-lines": 4,

    "rule-nested-empty-line-before": [ "always", {
      "except": [ "first-nested" ],
      "ignore": [ "after-comment" ]
    }],
    "rule-non-nested-empty-line-before": [ "always", {
      "ignore": [ "after-comment" ]
    }],

    "selector-no-universal": null,
    "selector-list-comma-newline-after": "always-multi-line",


    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": "always-single-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-properties-order": [
      [
        {
          "order": "strict",
          "emptyLineBefore": "never",
          "properties": [
            "align-content",
            "align-items",
            "align-self",
            "all",
            "animation",
            "appearance",
            "backface-visibility",
            "background",
            "background-attachment",
            "background-blend-mode",
            "background-clip",
            "background-color",
            "background-image",
            "background-origin",
            "background-position",
            "background-position-x",
            "background-position-y",
            "background-repeat",
            "background-repeat-x",
            "background-repeat-y",
            "background-size",
            "border",
            "border-bottom",
            "border-bottom-color",
            "border-bottom-left-radius",
            "border-bottom-right-radius",
            "border-bottom-style",
            "border-bottom-width",
            "border-collapse",
            "border-color",
            "border-image",
            "border-image",
            "border-image-outset",
            "border-image-repeat",
            "border-image-slice",
            "border-image-source",
            "border-image-width",
            "border-left",
            "border-left-color",
            "border-left-style",
            "border-left-width",
            "border-radius",
            "border-right",
            "border-right-color",
            "border-right-style",
            "border-right-width",
            "border-spacing",
            "border-style",
            "border-top",
            "border-top-color",
            "border-top-left-radius",
            "border-top-right-radius",
            "border-top-style",
            "border-top-width",
            "border-width",
            "bottom",
            "box-decoration-break",
            "box-shadow",
            "box-sizing",
            "break-inside",
            "clear",
            "clip",
            "clip-path",
            "color",
            "column-count",
            "column-fill",
            "column-gap",
            "column-rule",
            "column-span",
            "column-width",
            "columns",
            "content",
            "counter-increment",
            "counter-reset",
            "cursor",
            "direction",
            "display",
            "filter",
            "flex",
            "flex-basis",
            "flex-direction",
            "flex-flow",
            "flex-grow",
            "flex-shrink",
            "flex-wrap",
            "float",
            "font",
            "font-family",
            "font-feature-settings",
            "font-size",
            "font-size-adjust",
            "font-stretch",
            "font-style",
            "font-variant",
            "font-weight",
            "grid-column",
            "grid-column-align",
            "grid-column-span",
            "grid-columns",
            "grid-row",
            "grid-row-align",
            "grid-row-span",
            "grid-rows",
            "hanging-punctuation",
            "height",
            "hyphens",
            "image-rendering",
            "isolation",
            "justify-content",
            "left",
            "letter-spacing",
            "line-height",
            "list-style",
            "margin",
            "margin-bottom",
            "margin-left",
            "margin-right",
            "margin-top",
            "max-height",
            "max-width",
            "min-height",
            "min-width",
            "mix-blend-mode",
            "object-fit",
            "object-position",
            "opacity",
            "order",
            "orphans",
            "outline",
            "overflow",
            "overflow-x",
            "overflow-y",
            "padding",
            "padding-bottom",
            "padding-left",
            "padding-right",
            "padding-top",
            "page-break",
            "perspective",
            "perspective-origin",
            "pointer-events",
            "position",
            "quotes",
            "resize",
            "right",
            "scrollbar",
            "shape-outside",
            "tab-size",
            "text-align",
            "text-align-last",
            "text-decoration",
            "text-decoration-color",
            "text-decoration-line",
            "text-decoration-skip",
            "text-decoration-style",
            "text-indent",
            "text-overflow",
            "text-rendering",
            "text-shadow",
            "text-stroke",
            "text-transform",
            "text-underline-position",
            "top",
            "transform",
            "transform-origin",
            "transform-style",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function",
            "unicode-bidi",
            "user-select",
            "vertical-align",
            "visibility",
            "white-space",
            "widows",
            "width",
            "will-change",
            "word-break",
            "word-spacing",
            "z-index",
            "zoom",
          ]
        }
      ],
      {
        "unspecified": "bottomAlphabetical"
      },
    ],
  }
}
